
td {
	height:80px;
}
.number {
	width:20px;
	height:10px;
	text-align: right;
}
.fact .sign {
	width:10px;
	height:10px;
	text-align:right;
}
.fact {
	padding-right: 30px;
	padding-bottom: 20px;
	border-collapse: collapse;
	margin-right:30px;
}
.bottom {
	border-top: 1px solid;
	border-left: 0px;
}

.divisionRight {
	border-right: 1px solid;
	padding-right: 3px;
	padding-top: 2px;
}

.divisionTop {
	border-top: 1px solid;
}
